<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63060463055-1q6g4ogo73v8ugln8dpsoprupjn4p0rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63060463055-1q6g4ogo73v8ugln8dpsoprupjn4p0rr</string>
	<key>API_KEY</key>
	<string>AIzaSyDq3hhdrxihlaTxiyjnov6SiaZ7V9_Fswg</string>
	<key>GCM_SENDER_ID</key>
	<string>63060463055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reduxFlutterAppForVova.paid</string>
	<key>PROJECT_ID</key>
	<string>flutter-weather-app-96b8d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-weather-app-96b8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63060463055:ios:bb36a0ad5f9f5cb11796ba</string>
</dict>
</plist>